body {
    background-color: rgb(177, 241, 219);
    color: #8343bb;
}

.titulo {
    font-size: 2.5rem;
    color: #8343bb;
}

form input, form select {
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin: 0 auto;
}

.btn {
    margin: 5px;
}

table th {
    background-color: #8343bb !important; 
    color: #fff !important;
}

hr{
    border: 1.5px solid black;
}

#costos{
    color: black;
    font-size: 20px;
}
#ganancias{
    color: black;
    font-size: 20px;
}
#costoPorPorcion{
    color: black;
    font-size: 20px;
}
